<h1>List of all actors</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_actor.image%>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at)%> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at)%> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border = "1">
<% @filmography.each do |a_film| %>
  <tr>
    <td>
      <%= a_film.title %>
    </td>
    <td>
      <%= a_film.year %>
    </td>
    <td>
      <% d = Director.where({ :id => a_film.director_id }).at(0)%>
      <%= d.name %>
    </td>
    <td>
      <% c = Character.where({ :id => a_film.character_id }).at(0)%>
      <%= c.name %>
    </td>
    <td>
      <a href = "/movies/1">
      Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
