<h1>Actor #<%= @the_actor.id%> details</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name%>
  </dd>
  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_actor.image%>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at)%> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at)%> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border = "1">
<% @filmography.each do |character| %>
  <tr>
    <% film = Movie.where( :id => character.movie_id).at(0) %>
    <td>
      <%= film.title %>
    </td>
    <td>
      <%= film.year %>
    </td>
    <td>
      <% director = Director.where({ :id => film.director_id }).at(0)%>
      <%= director.name %>
    </td>
    <td>
      <%= character.name %>
    </td>
    <td>
      <a href = "/movies/<%= film.id %>">
      Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
